body {
    /* background-color: #cccccc; */
    font-family: 'Josefin Slab', serif;
	font-size: 100%;
	background-color: #f7f7f7;
	/* background: linear-gradient(to bottom, rgba(150,150,150,0.2) 0%,rgba(150,150,150,0.2) 100%), url(background.jpg) repeat 0 0; */
}
#title {
	margin-left: 45px;
	margin-top: 15px;
	color: rgb(65, 65, 65);
}
.form_input {
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 5px 5px 5px 5px;
}
.form_submit {
    padding: 5px 5px 5px 5px;
}
#content_box {
    text-align: center;
    width: 95%;
    background-color: #c0c0c0;
    margin: 0 auto;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;

    -webkit-box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.15);
	-moz-box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.15);
	box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.15);
}